{{#extends 'base'}}

{{#block 'content'}}

<div class="container-fluid">
    <div>
        <h3 style="text-align: center;">All Orders </h3>
    </div>
    <div class="row">

        <div class="col-lg-3 col-sm-12">
            <div class="results">
                <p>Total of {{orders.length}} orders</p>
                <p>Search and Filter: </p>
            </div>

            <div id="form">
                <form method="GET">
                    {{{form}}}
                    <input type="submit" class="allbtn" value="Search" />
                </form>
                <a href="/orders" id="clear-filter" class="btn allbtn reset-button">Reset </a>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>User ID</th>
                        <th>Total Cost</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>
                            {{this.id}}
                        </td>
                        <td>
                            {{this.orderDateShort}}
                        </td>
                        <td>
                            {{this.user_id}}
                        </td>
                        <td>
                            ${{this.orderCost}}
                        </td>
                        <td>
                            {{this.order_status.status}}
                        </td>
                        <td>
                            <a href="/orders/{{this.id}}" class="btn allbtn">More details</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{/block}}

{{/extends}}