{{#extends 'base'}}

{{#block 'content'}}

<div class="container-fluid">
    <div class="row">
        <h1>Orders</h1>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="results">
                <p>Total of {{orders.length}} orders</p>
            </div>

            <i class="fas fa-search" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false"
                aria-controls="collapseForm">
                Search and Filter
            </i>
            <div id="collapseForm" class="collapse">
                <form method="GET">
                    {{{form}}}
                    <input type="submit" class="btn btn-secondary btn-sm" value="Search" />
                </form>
                <button id="clear-filter" class="btn btn-warning">Reset </button>
            </div>
        </div>
        <div class="col-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Order Date</th>
                        <th>User ID</th>
                        <th>Total Cost</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>
                            {{this.id}}
                        </td>
                        <td>
                            {{this.orderDateShort}}
                        </td>
                        <td>
                            {{this.user_id}}
                        </td>
                        <td>
                            ${{this.orderCost}}
                        </td>
                        <td>
                            {{this.order_status.status}}
                        </td>
                        <td>
                            <a href="/orders/{{this.id}}">More details</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{/block}}

{{#block "js"}}
<script>


    document.querySelector("#clear-filter").addEventListener("click", function () {
        let inputs = document.querySelectorAll("input[type=text]");
        for (let i = 0; i < inputs.length; i++) {
            inputs[i].value = "";
        }

        let selects = document.querySelectorAll("select");
        for (let i = 0; i < selects.length; i++) {
            selects[i].value = 0;
        }
    })

</script>
{{/block}}

{{/extends}}