{{#extends 'base'}}

{{#block 'content'}}
<div class="container-fluid">
    <div class="row">
        <h1 class="col-9">{{user.name}}'s Profile Page</h1>
        <div class="col-3">
            <a href="/users/profile/update" class="btn allbtn">Update Profile</a>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <table class="table table-striped table-bordered">

                <tr>
                    <td>Name</td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{user.phone}}</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>{{user.dobShort}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{user.address}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{/block}}

{{/extends}}