{{#extends 'base'}}

{{#block 'content'}}
<h1>Welcome to the Product's Page</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="nav-item">
                        <a class="nav-link active" href="#cinnamon_rolls" data-toggle="tab">Cinnamon Rolls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#flavors" data-toggle="tab">Flavors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#dough_types" data-toggle="tab">Dough Types</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#toppings" data-toggle="tab">Toppings</a>
                    </li>
                </ul>
                <div class="tab-content my-tab">
                    <div class="tab-pane active" id="cinnamon_rolls">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Cinnamon Rolls</h3>                                
                            </div>
                            <div class="col-md-3">
                                <h3>Create Cinnamon Roll Btn</h3>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Cost</th>
                                        <th>Description</th>
                                        <th>Dough Type</th>
                                        <th>Flavor</th>
                                        <th>Toppings</th>
                                        <th>Stock</th>
                                        <th>Image</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each products}}
                                    <tr>
                                        <td>
                                            {{this.id}}
                                        </td>
                                        <td>
                                            {{this.name}}
                                        </td>
                                        <td>
                                            {{this.cost}}
                                        </td>
                                        <td>
                                            {{this.description}}
                                        </td>
                                        <td>
                                            {{this.dough_type}}
                                        </td>
                                        <td>
                                            {{this.flavor}}
                                        </td>
                                        <td>
                                            {{this.topping}}
                                        </td>
                                        <td>
                                            {{this.stock}}
                                        </td>
                                        <td>
                                            {{this.image}}
                                        </td>
                                        <td>
                                            <a href='/products/{{this.id}}/update' class="btn btn-primary btn-sm">Edit</a>
                                            <a href='/products/{{this.id}}/delete' class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="flavors">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Flavors</h3>
                            </div>
                            <div class="col-md-3">
                                <h3>Create Flavor Btn</h3>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each flavors}}
                                    <tr>
                                        <td>
                                            {{this.id}}
                                        </td>
                                        <td>
                                            {{this.name}}
                                        </td>
                                        <td>
                                            <a href='/products/flavors/{{this.id}}/update' class="btn btn-primary btn-sm">Edit</a>
                                            <a href='/products/flavors/{{this.id}}/delete' class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="dough_types">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Dough Types</h3>
                            </div>
                            <div class="col-md-3">
                                <h3>Create Dough Type Btn</h3>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each dough_type}}
                                    <tr>
                                        <td>
                                            {{this.id}}
                                        </td>
                                        <td>
                                            {{this.name}}
                                        </td>
                                        <td>
                                            <a href='/products/doughtypes/{{this.id}}/update' class="btn btn-primary btn-sm">Edit</a>
                                            <a href='/products/doughtypes/{{this.id}}/delete' class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="toppings">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Toppings</h3>
                            </div>
                            <div class="col-md-3">
                                <h3>Create Toppings Btn</h3>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each toppings}}
                                    <tr>
                                        <td>
                                            {{this.id}}
                                        </td>
                                        <td>
                                            {{this.name}}
                                        </td>
                                        <td>
                                            <a href='/products/toppings/{{this.id}}/update' class="btn btn-primary btn-sm">Edit</a>
                                            <a href='/products/toppings/{{this.id}}/delete' class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


{{/block}}

{{/extends}}