{{#extends 'base'}}

{{#block 'content'}}

<div class="container-fluid">
    <div>
        <h3 style="text-align: center;">All Products </h3>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="results">
                <p>Total of {{products.length}} products</p>
                <p>Search and Filter</p>
            </div>
            <div id="search-form">
                <form method="GET">
                    {{{form}}}
                    <input type="submit" class="btn allbtn" value="Search" />
                </form>
                <a href="/products" id="clear-filter" class="btn allbtn">Reset </a>
            </div>
        </div>

        <div class="col-9">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item">
                    <a class="nav-link active" href="#cinnamonrolls" data-toggle="tab">Cinnamon Rolls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#flavors" data-toggle="tab">Flavors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#toppings" data-toggle="tab">Toppings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#doughtypes" data-toggle="tab">Dough Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ingredients" data-toggle="tab">Ingredients</a>
                </li>
            </ul>

            <div class="tab-content my-tab">
                <div class="tab-pane active" id="cinnamonrolls">
                    <div class="row my-3">
                        <div class="col-md-8">
                            <h3>Cinnamon Rolls</h3>
                        </div>
                        <div class="col-md-4">
                            <a class="nav-link btn allbtn" href="/products/create">New Roll</a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th>Description</th>
                                    <th>Dough Type</th>
                                    <th>Flavor</th>
                                    <th>Toppings</th>
                                    <th>Stock</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td>
                                        {{this.name}}
                                    </td>
                                    <td>
                                        $ {{this.productCost}}
                                    </td>
                                    <td>
                                        {{this.description}}
                                    </td>
                                    <td>
                                        {{this.dough_type.name}}
                                    </td>
                                    <td>
                                        {{this.flavor.name}}
                                    </td>
                                    <td>
                                        {{#each this.toppings}}
                                        <span class="badge badge-secondary p-2">{{this.name}}</span>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{this.stock}}
                                    </td>

                                    <td>
                                        <a href='/products/{{this.id}}/update' class="btn allbtn">More Details</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="flavors">
                    <div class="row my-3">
                        <div class="col-md-8">
                            <h3>Flavors</h3>
                        </div>
                        <div class="col-md-4">
                            <a class="nav-link btn allbtn" href="/products/flavors/create">New Flavor</a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each flavors}}
                                <tr>
                                    <td>
                                        {{this.id}}
                                    </td>
                                    <td>
                                        {{this.name}}
                                    </td>
                                    <td>
                                        <a href='/products/flavors/{{this.id}}/update' class="allbtn btn">Edit</a>
                                        <a href='/products/flavors/{{this.id}}/delete' class="btn allbtn">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="toppings">
                    <div class="row my-3">
                        <div class="col-md-8">
                            <h3>Toppings</h3>
                        </div>
                        <div class="col-md-4">
                            <a class="nav-link btn allbtn" href="/products/toppings/create">New Topping</a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each toppings}}
                                <tr>
                                    <td>
                                        {{this.id}}
                                    </td>
                                    <td>
                                        {{this.name}}
                                    </td>
                                    <td>
                                        <a href='/products/toppings/{{this.id}}/update' class="btn allbtn">Edit</a>
                                        <a href='/products/toppings/{{this.id}}/delete' class="btn allbtn">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="doughtypes">
                    <div class="row my-3">
                        <div class="col-md-8">
                            <h3>Dough Types</h3>
                        </div>
                        <div class="col-md-4">
                            <a class="nav-link btn allbtn" href="/products/doughtypes/create">New Dough Type</a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Ingredients</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each doughtypes}}
                                <tr>
                                    <td>
                                        {{this.id}}
                                    </td>
                                    <td>
                                        {{this.name}}
                                    </td>
                                    <td>
                                        {{#each this.ingredients}}
                                        <span class="badge badge-secondary p-2">{{this.name}}</span>
                                        {{/each}}
                                    </td>
                                    <td>
                                        <a href='/products/doughtypes/{{this.id}}/update' class="btn allbtn">Edit</a>
                                        <a href='/products/doughtypes/{{this.id}}/delete' class="btn allbtn">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="ingredients">
                    <div class="row my-3">
                        <div class="col-md-8">
                            <h3>Ingredients</h3>
                        </div>
                        <div class="col-md-4">
                            <a class="nav-link btn allbtn" href="/products/ingredients/create">New Ingredient</a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each ingredients}}
                                <tr>
                                    <td>
                                        {{this.id}}
                                    </td>
                                    <td>
                                        {{this.name}}
                                    </td>
                                    <td>
                                        <a href='/products/ingredients/{{this.id}}/update' class="btn allbtn">Edit</a>
                                        <a href='/products/ingredients/{{this.id}}/delete' class="btn allbtn">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{/block}}

{{#block "js"}}
{{!--
<script>
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    const tab = params.tab;

    var triggerEl = document.querySelector(`a[href="#${tab}"]`)
    $(triggerEl).tab('show');
</script> --}}
{{/block}}
{{/extends}}