{{#extends 'base'}}

{{#block 'content'}}
<div class="container-fluid mb-5">
    <div class="row">
        <h1 class="col-9">Update Cinnamon Roll: {{product.name}}</h1>
        <div class="col-3">
            <a href='/products/{{product.id}}/delete' class="btn allbtn">Delete</a>
        </div>
    </div>
    <hr>
    </hr>
    <div class="row">
        <form method="POST" class="col-6">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />

            {{{form}}}


            <div>
                <p>Image:</p>
                <input type="hidden" role="uploadcare-uploader" id="uploadcare" name="image" value="{{image}}" />
            </div>
            <input type="submit" value="Update Product" class="btn allbtn" />
            <a class="btn allbtn" href="/products">Cancel</a>

        </form>
        <div class="col-6">
            <div class="product-image" style="background-image: url({{product.image}})"></div>
        </div>
    </div>
</div>
{{/block}}

{{#block "js"}}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

    UPLOADCARE_PUBLIC_KEY = "26b5265994e7410e82b0"

</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8">
</script>

{{/block}}

{{/extends}}